@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@font-face {
  font-family: 'stretch pro';
  src: url('../lib/fonts/StretchPro.otf') format('otf');
}
@font-face {
  font-family: 'segoe script';
  src: url('../lib/fonts/segoes.ttf') format('ttf');
}



:root {
  --3-variant-tokens-bg-ghost-bg-ghost: rgba(76, 90, 139, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-primary: rgba(85, 183, 133, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-secondary: rgba(78, 70, 221, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-tertiary: rgba(75, 162, 227, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-success: rgba(148, 202, 66, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-warning: rgba(225, 181, 62, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-error: rgba(195, 49, 117, 0.2);
  --3-variant-tokens-bg-ghost-bg-ghost-surface: rgba(76, 90, 139, 0.2);
  --3-variant-tokens-bg-soft-bg-soft: rgba(130, 140, 174, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-primary: rgba(120, 204, 169, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-secondary: rgba(131, 126, 230, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-tertiary: rgba(115, 190, 235, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-success: rgba(179, 218, 110, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-warning: rgba(234, 203, 103, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-error: rgba(209, 102, 157, 0.2);
  --3-variant-tokens-bg-soft-bg-soft-surface: rgba(130, 140, 174, 0.2);
  --3-variant-tokens-bg-transparent: rgba(255, 255, 255, 0);
  --0-tailwind-dimensions-spacing-6: 24px;
  --0-tailwind-dimensions-spacing-7: 28px;
  --0-tailwind-dimensions-spacing-8: 32px;
  --0-tailwind-dimensions-spacing-9: 36px;
  --0-tailwind-dimensions-spacing-10: 40px;
  --0-tailwind-dimensions-spacing-12: 48px;
  --0-tailwind-dimensions-spacing-14: 56px;
  --0-tailwind-dimensions-spacing-16: 64px;
  --0-tailwind-dimensions-border-radius-rounded-full: 9999px;
  --1-primitives-surface-surface-100: rgba(220, 222, 232, 1);
  --1-primitives-surface-surface-300: rgba(183, 189, 208, 1);
  --1-primitives-surface-surface-400: rgba(130, 140, 174, 1);
  --1-primitives-font-color-base: rgba(0, 0, 0, 1);
  --2-skeleton-token-rings-ring-outline-token: rgba(23, 23, 23, 0.05);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-1-primitives-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-1-primitives-mode="light"] {
  --1-primitives-surface-surface-100: rgba(220, 222, 232, 1);
  --1-primitives-surface-surface-300: rgba(183, 189, 208, 1);
  --1-primitives-surface-surface-400: rgba(130, 140, 174, 1);
  --1-primitives-font-color-base: rgba(0, 0, 0, 1);
}

[data-1-primitives-mode="dark"] {
  --1-primitives-surface-surface-100: rgba(46, 54, 84, 1);
  --1-primitives-surface-surface-300: rgba(69, 81, 126, 1);
  --1-primitives-surface-surface-400: rgba(76, 90, 139, 1);
  --1-primitives-font-color-base: rgba(255, 255, 255, 1);
}


:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: black;
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
