.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(80px);
  width: 100vw;
  height: 100vh;

  .canvas {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }
}

// Media query for 1080px screens
@media (max-width: 1080px) {
  .background {
    // Add necessary styles here if needed
  }
}
