svg {
  position: absolute;
  fill-opacity: 0.4;
  animation: movePotato 5s infinite; /* Adjust time for speed */
}

@keyframes movePotato {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(10px, -20px); }
  50% { transform: translate(20px, 0px); }
  75% { transform: translate(10px, 20px); }
  100% { transform: translate(0px, 0px); }
}
