svg {
  will-change: contents;
  animation: movePotato 5s infinite; /* Adjust time for speed */
  transform: translateZ(0);
  fill: currentColor; /* Uses the SVG's fill color */
}

.potato-wrapper {
    position: absolute;
}


@keyframes movePotato {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(10px, -20px); }
  50% { transform: translate(20px, 0px); }
  75% { transform: translate(10px, 20px); }
  100% { transform: translate(0px, 0px); }
}
