// Define SCSS variables
$primary-font: "Poppins", sans-serif;
$secondary-font: "Outfit", sans-serif;
$primary-color: rgba(36, 197, 42, 0.4);
$background-color: rgba(255, 255, 255, 0.05);
$shadow-color: rgba(0, 0, 0, 0.08);
$text-color: rgba(0, 0, 0, 0.5);
$primary-text-color: rgba(255, 255, 255, 1);
$highlight-color: rgba(5, 0, 4, 0.4);

.centeringDiv {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;

	.feedbackSection {
		width: 80%;
		padding: 2rem;
		margin-top: 8%;
		margin-left: auto;
		margin-right: auto;
		background: $background-color;
		// border-radius: 58px;
		backdrop-filter: blur(80px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
    height: 80%;

		.feedbackContainer {
			padding: 4rem;
			background: $background-color;
			box-shadow: -4px 4px 50.8px 4px $shadow-color;
			border-radius: inherit;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 10px;
      height: 100%;
      width: 100%;
      padding: 2%;

			.contentContainer {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 20px;
        height: 100%;
        position: relative;
        width: 100%;

				.formWrapper {
					width: 80%;
					display: flex;
          height: 100%;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 40px;
					position: relative;
          overflow-y: scroll;

					.feedbackTitle {
            padding-top: 2rem;
						width: 100%;
						color: $primary-text-color;
						font-size: 44px;
						font-family: $primary-font;
						font-weight: 600;
						line-height: 50px;
						word-wrap: break-word;
					}

					.feedbackForm {
						align-self: stretch;
						height: 400px;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-end;
						gap: 3px;

            .textArea {
              height: 170px;
            }

						input,
						textarea {
							font-family: $secondary-font;
							width: 100%;
							border-radius: 0;
							background: rgba(255, 255, 255, 0.1);
							backdrop-filter: blur(100px);
						}

						.inputGroup {
							align-self: stretch;
							display: flex;
							justify-content: space-between;
							align-items: flex-end;

							& > div {
								width: 45%;
							}
						}

						& > div:nth-child(2) {
							width: 100%;
						}

						.submitButton {
							width: 90px;
							height: 36px;
							padding: 14px 49px;
							background: linear-gradient(55deg, $highlight-color 0%, rgba(195.05, 234.81, 110.56, 0.4) 50%, $primary-color 100%), linear-gradient(0deg, 0%, 100%);
							border-radius: 10px;
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 10px;

							.submitText {
								color: black;
								font-size: 16px;
								font-family: $secondary-font;
								font-weight: 400;
								line-height: 16px;
								word-wrap: break-word;
							}
						}
					}
				}

				.imageConfident {
					width: 315px;
				}

        .buttonContainer {
          display: flex;
          justify-content: start;
          align-items: start;
          gap: 10px;
          height: 100%;
        }
			}
		}
	}
}

@media (max-width: 1200px) {
	.centeringDiv {
		.feedbackSection {
			.feedbackContainer {
				.contentContainer {
					.formWrapper {
						.feedbackTitle {
						}

						.highlightBar {
						}

						.feedbackForm {
							.inputGroup {
								.nameInput,
								.emailInput {
									.namePlaceholder,
									.emailPlaceholder {
									}
								}
							}

							.messageInput {
								.messagePlaceholder {
								}
							}

							.submitButton {
								.submitText {
								}
							}
						}
					}

					.imageConfident {
            width: 200px;
            height: unset;
					}
				}
			}
		}
	}
}
@media (max-width: 900px) {
	.centeringDiv {
		.feedbackSection {
			.feedbackContainer {
				.contentContainer {
          flex-direction: column-reverse;
          overflow-y: scroll;
					.formWrapper {
						.feedbackTitle {
              font-size: 32px;
              line-height: 40px;
						}

						.highlightBar {
						}

						.feedbackForm {
							.inputGroup {
								.nameInput,
								.emailInput {
									.namePlaceholder,
									.emailPlaceholder {
									}
								}
							}

							.messageInput {
								.messagePlaceholder {
								}
							}

							.submitButton {
								.submitText {
								}
							}
						}
					}

					.imageConfident {
            display: none;
					}
          .buttonContainer {
            display: flex;
            justify-content: end;
            align-items: end;
            width: 100%;
            height: unset;
          }
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.centeringDiv {
		.feedbackSection {
      width: 95%;
      padding: 0.5rem;
			.feedbackContainer {
				.contentContainer {
					.formWrapper {
            width: 95%;
						.feedbackTitle {
						}

						.highlightBar {
						}

						.feedbackForm {
							.inputGroup {
								.nameInput,
								.emailInput {
									.namePlaceholder,
									.emailPlaceholder {
									}
								}
							}

							.messageInput {
								.messagePlaceholder {
								}
							}

							.submitButton {
								.submitText {
								}
							}
						}
					}

					.imageConfident {
					}
          .buttonContainer {
          }
				}
			}
		}
	}
}
