.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.div {
  width: 100%;
  position: relative;
}

