.SecondHeader {
  width: 100vw;
  padding: 10% 10%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;

  .Container {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;

    .Content {
      flex: 1 1 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;

      .ContentContainer {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .Content {
          align-self: stretch;
          display: flex;
          flex-direction: column;
          gap: 24px;

          .Heading {
            align-self: stretch;
            color: white;
            font-size: 48px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            line-height: 50.60px;
            word-wrap: break-word;
          }

          .Text {
            align-self: stretch;
            color: white;
            font-size: 18px;
            font-family: 'Acme', sans-serif;
            font-weight: 400;
            line-height: 27px;
            word-wrap: break-word;
          }
        }

        .Actions {
          padding-top: 16px;
          display: inline-flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;

          .Button {
            padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: rgba(255, 255, 255, 0.20);
            backdrop-filter: blur(200px);

            &.secondary {
              border: 1px solid rgba(255, 255, 255, 0.20);
            }
          }
        }
      }
    }

    .BoardAsset {
      height: 650px;
    }
  }
}

@media (max-width: 1150px) {
  .SecondHeader {
    .Container {
      gap: 40px;

      .BoardAsset {
        height: 400px;
      }
    }
  }
}

@media (max-width: 750px) {
  .SecondHeader {
    width: 100vw;
    padding: 12px 23px 112px;
    margin-top: -1rem;
    gap: 80px;

    .Container {
      flex-direction: column-reverse;
      gap: 40px;

      .Frame70 {
        padding: 0 56px;
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
      }

      .BoardAsset {
        height: 300px;
      }

      .Content {
        gap: 7px;

        .ContentContainer {
          gap: 14px;

          .Content {
            gap: 14px;

            .Heading {
              font-size: 24px;
              line-height: 28.80px;
            }

            .Text {
              font-size: 12px;
              line-height: 18px;
            }
          }

          .Actions {
            .Button {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 450px) {
//   .SecondHeader {
//     padding-top: 30%;
//     width: 100vw;
//     height: 100vh;
//     gap: 50px;
//     padding-left: 1%;
//     padding-right: 1%;

//     .Container {
//       width: 100%;
//       padding-left: 1%;
//       padding-right: 1%;
//       gap: 30px;

//       .Content {
//         .ContentContainer {
//           .Content {
//             .Heading {
//               font-size: 32px;
//               line-height: 35.20px;
//             }

//             .Text {
//               font-size: 20px;
//               line-height: 26px;
//             }
//           }

//           .Actions {
//             .Button {
//               font-size: 12px;
//               line-height: 18px;
//             }
//           }
//         }
//       }

//       .BoardAsset {
//         width: 8rem;
//         height: 8rem;
//       }

//       .WebGeodesics {
//         font-size: 24px;
//         line-height: 18px;
//       }
//     }
//   }
// }

// Media query for 1080px screens
@media (max-width: 1080px) {
  .SecondHeader {
    .Container {
      .Content {
        .ContentContainer {
          .Content {
            .Heading { }
            .Text { }
          }
          .Actions { }
        }
      }
      .BoardAsset { }
    }
  }
}
