// Variables

@font-face {
  font-family: 'Stretch Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.cdnfonts.com/s/48412/StretchPro.woff) format('woff');
}

$font-poppins: 'Poppins', sans-serif;
$font-acme: 'Hedvig Letters Sans', sans-serif;
$font-segoe: 'Space Mono', cursive;
$font-stretch: 'Stretch Pro', sans-serif;

$color-white: white;
$color-highlight: #FBFF30;

$header-padding: 10%;
$header-padding-small: 3%;
$header-padding-mobile: 1%;

$line-height-hero: 44px;
$line-height-text: 33.60px;
$line-height-webgeo: 69px;

$font-size-hero: 40px;
$font-size-text: 24px;
$font-size-webgeo: 64px;

@mixin font-style($font, $size, $weight, $line-height) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

.artboard {
  width: 25rem;
  height: 25rem;
}

.Header {
  width: 100vw;
  height: 100vh;
  padding-left: $header-padding;
  padding-right: $header-padding;
  padding-bottom: $header-padding;
  padding-top: $header-padding;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;

  .Content {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .Space {
      flex: 1 1 0;
    }

    .ContentContainer {
      width: 850px;
      padding-left: 74px;
      padding-right: 74px;
      flex-direction: column;
      gap: 24px;
      display: inline-flex;

      .MediumLengthHeroHeadlineGoesHere {
        color: $color-white;
        @include font-style($font-poppins, $font-size-hero, 800, $line-height-hero);
        word-wrap: break-word;
      }

      .LoremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristiqueDuisCursusMiQuisViverraOrnareErosDolorInterdumNullaUtCommodoDiamLiberoVitaeErat {
        color: $color-white;
        @include font-style($font-acme, $font-size-text, 400, $line-height-text);
        word-wrap: break-word;

        .creative, .innovative {
          color: $color-highlight;
          @include font-style($font-segoe, null, 700, null);
          font-style: italic;
        }
      }

      .Actions {
        padding-top: 16px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: inline-flex;
      }
    }
  }

  .Logos {
    justify-content: center;
    align-items: center;
    display: flex;

    .artboard { }

    .WebGeodesics {
      color: $color-white;
      @include font-style($font-stretch, $font-size-webgeo, 400, $line-height-webgeo);
      word-wrap: break-word;
    }

    .arrow { }
  }
}

@media (max-width: 1322px) {
  .Header {
    padding-top: 20%;

    .arrow {
      display: none;
    }

    .Logos {
      margin-top: 3rem;

      .WebGeodesics {
        font-size: 48px;
        line-height: 48px;
      }

      .artboard {
        width: 15rem;
        height: 15rem;
      }
    }
  }
}

@media (max-width: 818px) {
  .Header {
    .Content {
      .Space { }

      .ContentContainer {
        .MediumLengthHeroHeadlineGoesHere { }
        .LoremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristiqueDuisCursusMiQuisViverraOrnareErosDolorInterdumNullaUtCommodoDiamLiberoVitaeErat {
          .creative { }
          .innovative { }
        }

        .Actions { }
      }
    }

    .Logos {
      transform: translateX(-3rem);

      .artboard { }
      .WebGeodesics { }
      .arrow { }
    }
  }
}

@media (max-width: 700px) {
  .Header {
    padding-left: $header-padding-small;
    padding-right: $header-padding-small;

    .ContentContainer {
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }

    .Logos {
      transform: translateX(0rem);
      margin-top: 0rem;

      .WebGeodesics {
        font-size: 26px;
        line-height: 26px;
      }

      .artboard {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .Header {
    padding-top: 30%;
    width: 100vw;
    height: 100vh;
    gap: 50px;
    padding-left: $header-padding-mobile;
    padding-right: $header-padding-mobile;

    .ContentContainer {
      width: 100%;
      padding-left: $header-padding-mobile;
      padding-right: $header-padding-mobile;
    }

    .Content, .ContentContainer {
      gap: 30px;
    }

    .MediumLengthHeroHeadlineGoesHere {
      font-size: 32px;
      line-height: 35.20px;
    }

    .LoremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristiqueDuisCursusMiQuisViverraOrnareErosDolorInterdumNullaUtCommodoDiamLiberoVitaeErat {
      font-size: 20px;
      line-height: 26px;
    }

    .Logos {
      .artboard {
        width: 8rem;
        height: 8rem;
      }

      .WebGeodesics {
        font-size: 24px;
        line-height: 18px;
      }
    }
  }
}
