// Variables

@font-face {
	font-family: "Stretch Pro";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.cdnfonts.com/s/48412/StretchPro.woff) format("woff");
}
@import url("https://fonts.cdnfonts.com/s/48412/StretchPro.woff");

$font-poppins: "Poppins", sans-serif;
$font-acme: "Hedvig Letters Sans", sans-serif;
$font-segoe: "Space Mono", cursive;
$font-stretch: "Stretch Pro", sans-serif;

$color-white: white;
$color-highlight: #fbff30;

$header-padding: 10%;
$header-padding-small: 3%;
$header-padding-mobile: 1%;

$line-height-hero: 44px;
$line-height-text: 33.6px;
$line-height-webgeo: 69px;

$font-size-hero: 40px;
$font-size-text: 24px;
$font-size-webgeo: 64px;

@mixin font-style($font, $size, $weight, $line-height) {
	font-family: $font;
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
}

@mixin responsive-font-style($font, $font-size, $line-height, $media-font-size, $media-line-height) {
	@include font-style($font, $font-size, 400, $line-height);

	@media (max-width: 450px) {
		font-size: $media-font-size;
		line-height: $media-line-height;
	}
}

.logoImage {
	width: 25rem;
	height: 25rem;
}

.header {
	width: 100vw;
	height: 100vh;
	padding: $header-padding;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1px;

	.content {
		align-self: stretch;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.space {
			flex: 1;
		}

		.contentContainer {
			width: 850px;
			padding: 0 0 0 74px;
			display: flex;
			flex-direction: column;
			gap: 24px;

			.headline {
				color: $color-white;
				@include responsive-font-style($font-poppins, $font-size-hero, $line-height-hero, 32px, 35.2px);
        font-weight: 700;
			}

			.description {
				color: $color-white;
				@include responsive-font-style($font-acme, $font-size-text, $line-height-text, 20px, 26px);

				.highlight {
					color: $color-highlight;
					@include font-style($font-segoe, null, 700, null);
					font-style: italic;
				}
			}

			.actions {
				padding-top: 16px;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 16px;
			}
		}
	}

	.logos {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: -36px;
		}
		.logoText {
			color: $color-white;
			@include responsive-font-style($font-stretch, $font-size-webgeo, $line-height-webgeo, 24px, 18px);
			word-wrap: break-word;
		}

		.arrow {
			width: 50px;
		}
	}

	@media (max-width: 1322px) {
		padding-top: 20%;

		.logos {
			margin-top: 3rem;

			.logoText {
				font-size: 48px;
				line-height: 48px;
			}

			.logoImage {
				width: 15rem;
				height: 15rem;
			}
		}
	}

	@media (max-width: 818px) {
		.content {
			.contentContainer {
				.headline,
				.description .highlight,
				.actions {
					// Empty media query rules for now
				}
			}
		}

		.logos {
			transform: translateX(-3rem);
		}
	}

	@media (max-width: 700px) {
		padding: 0 $header-padding-small;

		.contentContainer {
			width: 100%;
			padding: 0 5%;
		}

		.logos {
			transform: translateX(0);
			margin-top: 0;

			.logoText {
				font-size: 26px;
				line-height: 26px;
			}

			.logoImage {
				width: 10rem;
				height: 10rem;
			}
			.arrow {
				display: none;
			}
		}
	}

	@media (max-width: 450px) {
		padding-top: 30%;
		height: 100vh;
		gap: 50px;
		padding: 0 $header-padding-mobile;

		.contentContainer {
			width: 100%;
			padding: 0 $header-padding-mobile;
		}

		.content,
		.contentContainer {
			gap: 30px;
		}

		.logos {
			.logoImage {
				width: 8rem;
				height: 8rem;
			}
		}
	}

	@media (max-width: 1080px) {
		.content {
			.space,
			.contentContainer .headline,
			.contentContainer .description .highlight,
			.contentContainer .actions {
				// Empty media query rules for now
			}
		}

		.logos {
			.logoImage,
			.logoText,
			.arrow {
				// Empty media query rules for now
			}
		}
	}
}
