.ThirdHeader {
  width: 100vw;
  height: 843px;
  padding: 112px 64px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;

  .Container {
    align-self: stretch;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    .ImageContainer {
      height: 619px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .BentoAsset {
        width: 304px;
        height: 619px;
      }
    }

    .ContainerInner {
      width: 80%;
      max-width: 50rem;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .Content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;

        .Heading {
          align-self: stretch;
          color: white;
          font-size: 48px;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          line-height: 57.60px;
          word-wrap: break-word;
        }

        .Text {
          align-self: stretch;
          color: white;
          font-size: 18px;
          font-family: 'Acme', sans-serif;
          font-weight: 400;
          line-height: 27px;
          word-wrap: break-word;
        }
      }

      .Actions {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .ThirdHeader {
    width: 100vw;
    height: 778px;
    padding: 28px 22px;
    gap: 80px;

    .Container {
      height: 722px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 22px;

      .ImageContainer {
        align-self: stretch;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .BentoAsset {
          width: 117px;
          height: 255px;
        }
      }

      .ContainerInner {
        .Content {
          align-self: stretch;
          height: 269px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 14px;

          .Heading {
            font-size: 24px;
            line-height: 28.80px;
          }

          .Text {
            font-size: 12px;
            line-height: 18px;
          }
        }

        .Actions {
          .Button {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

// Media query for 1080px screens
@media (max-width: 1080px) {
  .ThirdHeader {
    .Container {
      .ImageContainer {
        .BentoAsset { }
      }
      .ContainerInner {
        .Content {
          .Heading { }
          .Text { }
        }
        .Actions { }
      }
    }
  }
}
